@import-normalize;
@import "~react-image-gallery/styles/css/image-gallery.css";


:root {
  --bgd-color: #eeeff4;
  --bgd-header: linear-gradient(-45deg, #613283, #3470FF, #41334a);
  --title-color: #8a2be2;
  --text-header: #fff;
  --text-color: #173D33;
  --hover-color: #f0c70d;


}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgd-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
